* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

.acaoDestaqueTitle {
  color: honeydew;
  border-bottom: 1px solid #5dec85;
  max-width: fit-content;
  margin: 2rem 0 1rem 0;
}

.acaoCardDestaque {
  border-radius: 30px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.destaqueCardVermelho {
  background-color: rgba(245, 42, 42, 0.1);
  border: 1px solid #f52a2a;
}

.destaqueCardVerde {
  background-color: rgba(93, 236, 133, 0.1);
  border: 1px solid #5dec85;
}

.acaoCardTitleDestaque {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.titleVermelho {
  color: #f52a2a;
}

.titleVerde {
  color: #5dec85;
}

.acaoCardDestaqueFirstHr {
  width: 70%;
  margin-bottom: 6px;
  border: none;
  height: 1px;
}

.destaqueHrVermelho {
  background-color: #f52a2a;
}

.destaqueHrVerde {
  background-color: #5dec85;
}

.acaoCardPriceDestaque {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.destaqueCotacaoVermelho {
  color: #f52a2a;
}

.destaqueCotacaoVerde {
  color: #5dec85;
}

.acaoCardDestaqueSecondHr {
  width: 40%;
  margin-bottom: 6px;
  border: none;
  height: 1px;
}

.acaoCardChangeDestaque {
  font-size: 1.2rem;
}

.variacaoDestaqueVermelho {
  color: #f52a2a;
}

.variacaoDestaqueVerde {
  color: #5dec85;
}
