* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

.acaoCard {
  height: 160px;
  width: 280px;
  background-color: #2a2a2a;
  border: 1px solid #5dec85;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acaoCardTitle {
  color: #2a2a2a;
  background-color: #5dec85;
  width: 100%;
  border-radius: 25px 25px 0 0;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.acaoCardPrice {
  color: honeydew;
  font-size: 1.2rem;
}

.acaoCardHr {
  width: 70%;
  margin: 6px 0;
}

.acaoCardChange {
  margin-bottom: 6px;
}

.acaoVermelho {
  color: #f52a2a;
}

.acaoVerde {
  color: #5dec85;
}

.acaoCardBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.acaoCardBtns button {
  border: none;
  color: #2a2a2a;
  background-color: #5dec85;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  transition: 0.3s;
}

.acaoCardBtns button:hover {
  scale: 1.1;
  cursor: pointer;
  opacity: 0.8;
}

.acaoCardIcon {
  color: #5dec85;
  font-size: 2rem;
  transition: 0.3s;
}

.acaoCardIcon:hover {
  scale: 1.1;
  cursor: pointer;
}
