* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

.acoesMainContainer {
  background-color: #363636;
  width: 1100px;
  height: 100vh;
}

h1 {
  color: honeydew;
  border-bottom: 1px solid #5dec85;
  max-width: fit-content;
  margin-top: 5rem;
  margin-left: 2rem;
}

.destaque {
  margin: 0 3rem;
}

.destaqueTitle {
  color: honeydew;
  border-bottom: 1px solid #5dec85;
  max-width: fit-content;
  margin: 2rem 0 1rem 0;
}

.acoesDestaque {
  height: 125px;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
}

.acaoCardDestaque {
  border: 1px solid white;
  border-radius: 30px;
  width: 250px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardTitleDestaque {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.cardDestaqueFirstHr {
  width: 70%;
  margin-bottom: 6px;
}

.cardPriceDestaque {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.cardDestaqueSecondHr {
  width: 40%;
  margin-bottom: 6px;
}

.cardChangeDestaque {
  font-size: 1.2rem;
}

.acoesIcon {
  color: #2a2a2a;
  font-size: 1.2rem;
}

.searchHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #5dec85;
  margin-right: 2rem;
  margin-left: 2rem;
  padding-bottom: 0.5rem;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-right: 5rem;
  margin-left: 2rem;
}

.searchBar button {
  border-radius: 20px 0 0 20px;
  padding: 0.6rem 1rem;
  background-color: #5dec85;
  border: none;
}

.searchBar button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.searchBar input {
  color: honeydew;
  outline: none;
  border: none;
  background-color: #2a2a2a;
  padding: 0.6rem 3rem 0.6rem 1rem;
  border-radius: 0 20px 20px 0;
  font-size: 1rem;
}

.filterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5dec85;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 30px;
  gap: 5px;
  margin-left: 2rem;
  font-size: 1rem;
}

.filterButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cardContainer {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: center;
}
