* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

.blurEffect {
  filter: blur(5px);
  pointer-events: none;
}

.acoesMainContainer {
  background-color: #363636;
  width: 1100px;
  height: 100vh;
}

.backgroundContainer {
  position: absolute;
  width: 1100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acaoH1 {
  color: honeydew;
  border-bottom: 1px solid #5dec85;
  max-width: fit-content;
  margin-top: 5rem;
  margin-left: 2rem;
}

.acaoDestaqueSection {
  margin: 0 3rem;
}

.acaoDestaqueTitle {
  color: honeydew;
  border-bottom: 1px solid #5dec85;
  margin: 2rem 0 1rem 0;
}

.acoesDestaque {
  height: 125px;
  width: 100%;
  margin-bottom: 6rem;
  padding-bottom: 10px;
  display: -webkit-inline-box;
  overflow-x: scroll;
  gap: 2rem;
}

.acoesDestaque::-webkit-scrollbar {
  background-color: #5dec85;
  border-radius: 20px;
  height: 8px;
}

.acoesDestaque::-webkit-scrollbar-thumb {
  background-color: #3f3f3f;
  border-radius: 6px;
}

.acoesIcon {
  color: #2a2a2a;
  font-size: 1.2rem;
}

.acaoSearchHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #5dec85;
  margin-right: 2rem;
  margin-left: 2rem;
  padding-bottom: 0.5rem;
}

.acaoSearchBar {
  display: flex;
  align-items: center;
  margin-right: 5rem;
  margin-left: 2rem;
}

.acaoSearchBar button {
  border-radius: 20px 0 0 20px;
  padding: 0.6rem 1rem;
  background-color: #5dec85;
  border: none;
}

.acaoSearchBar button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.acaoSearchBar input {
  color: honeydew;
  outline: none;
  border: none;
  background-color: #2a2a2a;
  padding: 0.6rem 3rem 0.6rem 1rem;
  border-radius: 0 20px 20px 0;
  font-size: 1rem;
}

#acoesMainWhiteText {
  color: honeydew;
}

.acaoFilterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5dec85;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 30px;
  gap: 5px;
  margin-left: 2rem;
  font-size: 1rem;
}

.acaoFilterButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.acaoCardContainer {
  display: flex;
  height: 50vh;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
  align-content: flex-start;
  overflow-y: auto;
}

.acaoCardContainer::-webkit-scrollbar {
  background-color: #5dec85;
  border-radius: 20px;
  width: 8px;
}

.acaoCardContainer::-webkit-scrollbar-thumb {
  background-color: #3f3f3f;
  border-radius: 6px;
}
