* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

.comprarContainer {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 25vw;
  background-color: #2a2a2a;
  border-radius: 50px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 999;
  border: 2px solid #5dec85;
  align-items: center;
  padding: 2rem 0;
  box-sizing: border-box;
  gap: 1rem;
}

.comprarContainer h1 {
  color: honeydew;
}

.comprarContainer > hr {
  width: 80%;
}

hr {
  background-color: #5dec85;
  height: 2px;
  border: none;
}

.comprarPreco {
  color: honeydew;
  text-align: center;
}

.comprarQuantidade {
  color: honeydew;
  text-align: center;
}

.quantidadeCounter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.comprarBotaoMenos {
  border: none;
  background-color: transparent;
  color: #f52a2a;
  font-size: 2rem;
  transition: 0.2s;
}

.comprarBotaoMenos:hover {
  cursor: pointer;
  scale: 1.2;
}

.comprarBotaoMenosDesabilitado {
  border: none;
  background-color: transparent;
  color: #f52a2a80;
  font-size: 2rem;
  transition: 0.2s;
}

.comprarBotaoMenosDesabilitado:hover {
  cursor: pointer;
  scale: 1.2;
}

.comprarBotaoMais {
  border: none;
  background-color: transparent;
  color: #5dec85;
  font-size: 1.5rem;
  transition: 0.2s;
}

.comprarBotaoMais:hover {
  cursor: pointer;
  scale: 1.2;
}

.comprarBotaoMaisDesabilitado {
  border: none;
  background-color: transparent;
  color: #5dec8580;
  font-size: 1.5rem;
  transition: 0.2s;
}

.comprarBotaoMaisDesabilitado:hover {
  cursor: pointer;
  scale: 1.2;
}

.quantidadeButtonsContainer {
}

.quantidadeButtonsContainer button {
  border: 1px solid #5dec85;
  background-color: transparent;
  color: #5dec85;
  border-radius: 15px;
  padding: 10px;
}

.comprarSaldo {
  color: honeydew;
  text-align: center;
}

.comprarResumoCotainer {
  background-color: #363636;
  width: 100%;
}

.comprarResumoCotainer div {
  padding: 0 15%;
}

.comprarAcoesPreco {
  color: honeydew;
  display: flex;
  justify-content: space-between;
}

.comprarTaxaCorretagem {
  color: honeydew;
  display: flex;
  justify-content: space-between;
}

.comprarTaxaB3 {
  color: honeydew;
  display: flex;
  justify-content: space-between;
}

.comprarTotal {
  color: honeydew;
  display: flex;
  justify-content: space-between;
}

.questionMarkIcon {
  color: #5dec85;
}

.exitButton {
  width: 10rem;
  height: 3.5rem;
  font-size: 1.5rem;
  border-radius: 30px;
  border: none;
  border: 2px solid #5dec85;
  transition: 0.2s;
  color: #5dec85;
  background-color: transparent;
}

.exitButton:hover {
  scale: 1.1;
  cursor: pointer;
  background-color: #5dec85;
  color: honeydew;
}

.buyButton {
  width: 10rem;
  height: 3.5rem;
  font-size: 1.5rem;
  border-radius: 30px;
  border: none;
  background-color: #5dec85;
  transition: 0.2s;
  color: honeydew;
}

.buyButton:hover {
  scale: 1.1;
  cursor: pointer;
}
