* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

.destaqueVermelho {
  color: #f52a2a;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 3rem;
  margin-bottom: 0.5rem;
  transition: 0.3s;
  max-width: 80%;
}

.destaqueVermelho span {
  color: #f52a2a;
}

.destaqueVermelho:hover {
  scale: 1.1;
  cursor: pointer;
}

.destaqueVerde {
  color: #5dec85;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 3rem;
  margin-bottom: 0.5rem;
  transition: 0.3s;
  max-width: 80%;
}

.destaqueVerde span {
  color: #5dec85;
}

.destaqueVerde:hover {
  scale: 1.1;
  cursor: pointer;
}
