* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

.investmentMainContainer {
  background-color: #363636;
  width: 1100px;
  height: 100vh;
}

.blurEffect {
  filter: blur(5px);
  pointer-events: none;
}

.backgroundContainer {
  position: absolute;
  width: 1100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.investmentMainH1 {
  color: honeydew;
  border-bottom: 1px solid #5dec85;
  max-width: fit-content;
  margin-top: 5rem;
  margin-left: 2rem;
}

.tablesContainer {
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  gap: 2rem;
}

.tablesTitle {
  color: honeydew;
  border-bottom: 1px solid #5dec85;
  width: fit-content;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

table {
  border-radius: 20px 20px 0 0;
  background-color: #2a2a2a;
  border-collapse: collapse;
}

.watchlistTable {
  width: 380px;
  height: 300px;
}

.transacaoTable {
  width: 580px;
}

.roundLeftTableCorner {
  border-radius: 20px 0 0 0;
}

.roundRightTableCorner {
  border-radius: 0 20px 0 0;
}

thead {
  background-color: #5dec85;
  border-radius: 30px 30px 0 0;
}

thead th {
  color: #2a2a2a;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem 0;
}

tr {
  border-bottom: 1px solid #5dec85;
  height: 50px;
}

.whiteTableText {
  font-weight: 400;
  color: honeydew;
}

.greenTableText {
  color: #5dec85;
}

.redTableText {
  color: #f52a2a;
}

.expandirContainer {
  background-color: #2a2a2a;
  padding: 0.5rem 0 0.8rem 0;
  border-radius: 0 0 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expandir {
  color: #5dec85;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.expandir:hover {
  border-bottom: 1px solid #5dec85;
  cursor: pointer;
}

.expandir button {
  color: #5dec85;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.expandir button:hover {
  cursor: pointer;
}

.expandirIcon {
  font-size: 1.5rem;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

.investmentSearchHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #5dec85;
  margin: 1.5rem 2rem 0 2rem;
  padding-bottom: 0.5rem;
}

.investmentSearchBar {
  display: flex;
  align-items: center;
  margin-right: 5rem;
  margin-left: 2rem;
}

#investmentMainWhiteText {
  color: honeydew;
}

.investmentSearchBar button {
  border-radius: 20px 0 0 20px;
  padding: 0.6rem 1rem;
  background-color: #5dec85;
  border: none;
}

.investmentSearchBar button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.investmentSearchBar input {
  color: honeydew;
  outline: none;
  border: none;
  background-color: #2a2a2a;
  padding: 0.6rem 3rem 0.6rem 1rem;
  border-radius: 0 20px 20px 0;
  font-size: 1rem;
}

.investmentSearchIcon {
  font-size: 1.2rem;
  color: #2a2a2a;
}

.investmentFilterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5dec85;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 30px;
  gap: 5px;
  margin-left: 2rem;
  font-size: 1rem;
}

.investmentFilterButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.investmentCardContainer {
  margin-top: 1rem;
  display: flex;
  height: 36vh;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: flex-start;
  overflow-y: auto;
}

.investmentCardContainer::-webkit-scrollbar {
  background-color: #5dec85;
  border-radius: 20px;
  width: 8px;
}

.investmentCardContainer::-webkit-scrollbar-thumb {
  background-color: #3f3f3f;
  border-radius: 6px;
}
