* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

.blurEffect {
  filter: blur(5px);
  pointer-events: none;
}

.navbarAside {
  background-color: #363636;
  width: 360px;
  height: 100vh;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.perfil span {
  font-size: 1.5rem;
}

.navbarHr {
  border: none;
  height: 1px;
  background-color: #5dec85;
  width: 95%;
  margin-bottom: 2rem;
}

.navbarWhiteText {
  color: honeydew;
}

.fa {
  color: #2a2a2a;
  font-size: 1.8rem;
  padding: 0.8rem;
  border-radius: 100%;
}

.perfilIcon {
  background-color: honeydew;
}

.fa-headset {
  background-color: #5dec85;
  transition: 0.3s;
}

.navbarUl {
  list-style-type: none;
}

.navbarLi {
  color: honeydew;
  font-size: 20px;
  margin-bottom: 1rem;
  max-width: 90%;
  padding-bottom: 10px;
}

.navbarLi:hover {
  border-bottom: 1px solid #5dec85;
  cursor: pointer;
}

.selected {
  border-bottom: 1px solid #5dec85;
}

.selected,
.selected span {
  color: #5dec85;
}

.navbarLi .navbarIcon {
  margin-right: 0.5rem;
}

#quit {
  color: #f52a2a;
  font-size: 20px;
  max-width: 90%;
  padding-bottom: 10px;
}

#quit:hover {
  border-bottom: 1px solid #f52a2a;
  cursor: pointer;
}

.navbarLi,
#quit {
  margin-left: 1rem;
}

.support {
  margin: 0 0 2rem 1rem;
}

.fa-headset:hover {
  scale: 1.2;
  cursor: pointer;
}
