* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

.noLoginContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/imgs/imgBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.noLoginText h1 {
  color: honeydew;
}

.noLoginText {
  color: rgb(204, 204, 204);
}

.noLoginButton {
  border: none;
  background-color: transparent;
  color: #5dec85;
  font-size: 1rem;
  margin-left: 5px;
}

.noLoginButton:hover {
  cursor: pointer;
  text-decoration: underline;
}
