* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

.resumoCard {
  background-color: #363636;
  width: 320px;
  height: 500px;
}
